.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 40px;
  padding: 10px;
}

a {
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.mkButton, .epcotButton, .akButton, .hsButton {
  height: 200px;
  width: 200px;
  margin: 20px;
}