
.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('https://res.cloudinary.com/drsaojfyp/image/upload/v1539739182/Free-Backgrounds-Disney.png');
  background-size: cover;
  height: 750px;
}

.title {
  font-size: 70px;
  color: #c0e1d5;
  text-shadow:
     -2px -2px 0 rgba(32, 34, 98),
    2px -2px 0 rgba(32, 34, 98),
    -2px 2px 0 rgba(32, 34, 98),
    2px 2px 0 rgba(32, 34, 98);
  align-self: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.intro {
  margin: 10px 30px;
  font-size: 24px;
  color: #c0e1d5;
  width: 85%;
  text-shadow:
    -.5px -.5px 0 rgba(32, 34, 98),
    .5px -.5px 0 rgba(32, 34, 98),
    -.5px .5px 0 rgba(32, 34, 98),
    .5px .5px 0 rgba(32, 34, 98);
  font-weight: bold;
}


a {
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.mkLink {
  padding: 3px 24px 180px 24px;
}

.epcotLink {
  padding: 3px 68px 180px 68px;
}

.akLink {
  padding: 3px 20px 180px 20px;
}

.hsLink {
  padding: 3px 10px 180px 10px;
}

.routeButton {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  flex-wrap: wrap;
  width: 60%;
  margin-right: 20px;
  margin-bottom: 10px;
}

.mkButton, .epcotButton, .akButton, .hsButton {
  height: 220px;
  width: 213px;
  margin: 20px 15px;
  border-radius: 10px;
}

.mkButton {
  background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1539833337/Screen_Shot_2018-10-17_at_11.28.08_PM.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.epcotButton {
  background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1539833327/Screen_Shot_2018-10-17_at_11.27.41_PM.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.akButton {
  background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1539833323/Screen_Shot_2018-10-17_at_11.27.28_PM.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hsButton {
  background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1539833343/Screen_Shot_2018-10-17_at_11.28.22_PM.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.parkPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rideTitle, .restaurantTitle {
  font-size: 25px;
  text-align: center;
}

.land {
  text-align: center;
  margin: 5px;
  font-family: disney;
  font-size: 40px;
  color: #225587;
}

.rides {
  list-style: none;
  color: #225587;
}

.ridesDiv, .restaurantDiv {
  background-color: rgba(255, 255, 255, .7);
  margin: 10px;
  border-radius: 20px;
  width: 500px;
}

.magicKingdom, .hollywoodStudios, .epcot, .animalKingdom {
  background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1539824917/1081037-beautiful-light-blue-backgrounds-1920x1080-for-1080p.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.parkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parkHead {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#mkImg {
  width: 300px;
  height: 300px;
  margin: 10px;
  margin-right: 20px;
}

.map {
  margin: 10px;
  margin-left: 20px;
}

.materialIcons {
  background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1539828070/icons8-animation-50.png);
  background-size: contain;
  height: 20px;
  width: 20px;
}

.rideRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.parkName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*.disneyParksLogo {
  width: 200px;
  height: 150px;
  margin: 10px 40px;
}*/

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #07173d;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: white;
  width: 100%;
}

.logo {
  font-family: disney;
  font-size: 40px;
  align-items: flex-start;
  padding-left: 15px;
  padding-top: 10px;
}

.navLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding-right: 30px;
  font-size: 22px;
}

.homeButton, .faveButton {
  transition: text-decoration 1s;
}

.faveButton:hover {
  text-decoration: underline;
}

.homeButton:hover {
  text-decoration: underline;
}


@media screen and (max-width: 400px) {
  .homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://res.cloudinary.com/drsaojfyp/image/upload/v1539824917/1081037-beautiful-light-blue-backgrounds-1920x1080-for-1080p.jpg');
    background-size: cover;
  }

  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #07173d;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: white;
    width: 100%;
    text-shadow: none;
  }

  .logo {
    font-family: disney;
    font-size: 25px;
    align-items: flex-start;
    padding-left: 5px;
    padding-top: 10spx;
    width: 100%;
    text-align: center;
  }

  .navLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    padding-right: 13px;
    font-size: 16px;
  }

  .title {
    font-size: 30px;
    color: rgba(32, 34, 98);
    align-self: center;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow:
     -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  }

  .intro {
    margin: 10px 30px;
    font-size: 18px;
    color: rgba(32, 34, 98);
    text-shadow:
     -.5px -.5px 0 white,
    .5px -.5px 0 white,
    -.5px .5px 0 white,
    .5px .5px 0 white;
    width: 85%;
    font-weight: bold;
  }
}